<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Url redirects
          <a class="btn btn-success pull-right" routerLink="/url-redirects/form"><em class="icon-plus"></em></a>
        </h2>
      </div>
      <div class="panel-body">
        <!-- Search no available in API yet
        <form class="form-inline" role="form">
            <a class="btn btn-primary" (click)="search()">Search</a>
        </form>
        -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Url</th>
              <th>Created</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngIf="searchResult">
            <tr *ngFor="let item of searchResult.items; let index = index">
              <td>{{index + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.url}}</td>
              <td>{{ item.createdDate | date:'yyyy/MM/dd HH:mm' }}</td>
              <td>
                <a class="btn btn-primary" routerLink="/url-redirects/form/{{item._id}}"><em class="icon-pencil"></em></a>
                <a class="btn btn-info" (click)="call_redirect(item)" target="_blank"><em class="icon-link"></em></a>
                <a class="btn btn-danger" (click)="deleteModal(item)"><em class="icon-trash"></em></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
