<div>
    <div class="content-heading">My votes</div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="icon-microphone fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">Talks</div>
                        <div class="row row-table" style="text-align: center">
                            <div>
                                <div class="h4 col-lg-3">Vote</div>
                                <div class="h4 col-lg-3">Total</div>
                                <div class="h4 col-lg-6">Percentage</div>
                            </div>
                            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                                <div class="h4 col-lg-3">{{i}}</div>
                                <div class="h4 col-lg-3">{{talks[i]}}</div>
                                <div class="h4 col-lg-6">{{Math.round((talks[i]*10000)/talksTotal)/100}}%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="icon-wrench fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">Workshops</div>
                        <div class="row row-table" style="text-align: center">
                            <div>
                                <div class="h4 col-lg-3">Vote</div>
                                <div class="h4 col-lg-3">Total</div>
                                <div class="h4 col-lg-6">Percentage</div>
                            </div>
                            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                                <div class="h4 col-lg-3">{{i}}</div>
                                <div class="h4 col-lg-3">{{workshops[i]}}</div>
                                <div class="h4 col-lg-6">{{Math.round((workshops[i]*10000)/workshopsTotal)/100}}%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-lg-3 col-sm-6">
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em c lass="icon-cloud-upload fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">Placeholder</div>

                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>