<div class="row">
  <div class="col-sm-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!user._id"><h2>New user</h2></div>
      <div class="panel-heading" *ngIf="user._id"><h2>Edit user</h2></div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" name="username" [(ngModel)]="user.username" type="text" placeholder="Enter username" />
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input class="form-control" name="email" [(ngModel)]="user.email" type="email" placeholder="Enter email" />
          </div>
          <div class="form-group" *ngIf="!user._id">
            <label>Password</label>
            <input class="form-control" name="password" [(ngModel)]="user.password" type="password" placeholder="Password" />
          </div>
          <div class="form-group" *ngIf="!user._id">
            <label>Confirm password</label>
            <input class="form-control" name="confirmPassword"  [(ngModel)]="confirmPassword" type="password" placeholder="Confirm password" />
          </div>
          <div class="form-group">
            <label>Roles</label>
            <select class="form-control" name="roles" [(ngModel)]="user.roles" style="height: 100px;" multiple>
              <option value="admin"><em class="fa fa-wrench">&nbsp;</em>Admin</option>
              <option value="voter"><em class="fa fa-list-ol">&nbsp;</em>Voter</option>
              <option value="helper"><em class="fa fa-medkit">&nbsp;</em>Helper</option>
              <option value="speaker"><em class="fa fa-bullhorn">&nbsp;</em>Speaker</option>
              <option value="sponsor"><em class="fa fa-building">&nbsp;</em>Sponsor</option>
            </select>
          </div>
          <span class="panel pull-right">
            <a class="btn btn-danger" routerLink="/users/list">Cancel</a>
            <a class="btn btn-primary" (click)="save()">Save</a>
          </span>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
