<div class="row">
  <div class="col-sm-8">
    <!-- Main left panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Paper Detail
          <span class="pull-right">
            <a class="btn btn-primary" routerLink="/papers/form/{{paper._id}}">
              <em class="icon-pencil"></em>
            </a>
            <a class="btn btn-danger" (click)="deleteModal(paper)">
              <em class="icon-trash"></em>
            </a>
          </span>
        </h2>
      </div>

      <div class="panel-body">
        <tabset class="bg-white p0" justified="true">
          <!-- abel: was unable to build proper tab with angular and bootstrapp without extra libs, so I just added padding -->
          <tab style="padding-left:15px">
            <ng-template tabHeading>
              <em class="fa fa-bullhorn fa-fw"></em>Details
            </ng-template>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col-xs-9"></div>
              <div class="col-xs-3">
                <a href="{{publicView}}/{{paper._id}}" target="_blank"><i class="fa fa-link"></i> public view</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Edition:</div>
              <div class="col-xs-9">{{paper.edition}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Received:</div>
              <div class="col-xs-9">{{ paper.createdDate | date:'yyyy/MM/dd HH:mm:ss' }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Title:</div>
              <div class="col-xs-9">{{paper.title}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Languages:</div>
              <div class="col-xs-9">
                <span *ngFor="let lang of paper.languages" class="badge badge-info">{{lang}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">State:</div>
              <div class="col-xs-9">{{paper.state}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Abstract:</div>
              <div class="col-xs-9">{{paper.abstract}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Type:</div>
              <div class="col-xs-9">{{paper.type}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Level:</div>
              <div class="col-xs-9">{{paper.level}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Tags:</div>
              <div class="col-xs-9">
                <span *ngFor="let tag of paper.tags" class="badge badge-info">{{tag}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Paper concrete day?:</div>
              <div class="col-xs-9">{{paper.preferenceDay || 'No'}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Comments:</div>
              <div class="col-xs-9">{{paper.comments}}</div>
            </div>

            <!-- senders -->
            <div class="row">
              <div class="col-xs-3 text-bold">Senders:</div>
              <div class="col-xs-9">
                <div class="list-group">
                  <div class="list-group-item" *ngFor="let sender of paper.senders">
                    <div class="media-box">
                      <div class="media-box-body clearfix">
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="#">
                              <img class="media-object img-circle img-thumbnail thumb48" src="{{sender.picture}}"
                                   alt="Contact"/>
                            </a>
                          </div>
                          <div class="media-body pt-sm">
                            <div class="text-bold">{{sender.fullName}}</div>
                          </div>
                        </div>
                        <p class="mb-sm">
                          <small class="text-bold">E-mail:</small>
                          <small>{{sender.email}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Job title:</small>
                          <small>{{sender.jobTitle}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Company:</small>
                          <small>{{sender.company}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Biography:</small>
                          <br/>
                          <small>{{sender.biography}}</small>
                        </p>
                        <p class="mb-sm" *ngIf="sender.web">
                          <small class="text-bold">Web:</small>
                          <small>
                            <a href="{{sender.web}}" target="_blank">{{sender.web}}</a>
                          </small>
                        </p>
                        <p class="mb-sm" *ngIf="sender.twitter">
                          <small class="text-bold">Twitter:</small>
                          <small>{{sender.twitter}}</small>
                        </p>
                        <p class="mb-sm" *ngIf="sender.linkedin">
                          <small class="text-bold">LinkedIn:</small>
                          <small>
                            <a href="{{sender.linkedin}}" target="_blank">{{sender.linkedin}}</a>
                          </small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">T-shirt size:</small>
                          <small>{{sender.tshirtSize}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Food allergies:</small>
                          <small>{{sender.allergies}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Needs travel help:</small>
                          <small>{{sender.travelCost}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Speaker's dinner:</small>
                          <small>{{sender.speakersParty}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Attendees party:</small>
                          <small>{{sender.attendeesParty}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab *ngIf="userPermissions.includes('role:voter')">
            <ng-template tabHeading>
              <em class="fa fa-comments fa-fw"></em>Notes ({{notes.length}})
            </ng-template>
            <div>
              <div  *ngFor="let note of notes">
                <div class="panel-heading">
                  <div class="media mt0">
                    <div class="media-body media-middle">
                      <h5 class="media-heading m0 text-bold">
                        {{note.owner}}
                        <span class="pull-right">
                          <a href="#" *ngIf="note.owner === username" (click)="editNote(note)">
                            <i class="fa fa-save"></i>
                          </a>
                          <a href="#" *ngIf="note.owner === username" (click)="deleteNote(note)">
                            <i class="fa fa-trash"></i>
                          </a>
                        </span>
                      </h5>
                      <!-- <div><small class="text-muted">id: {{note.id}}</small></div> -->
                      <small class="text-muted">created: {{note.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
                      <small class="text-muted">- updated: {{note.lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <textarea class="form-control" name="note_text" [(ngModel)]="note.text"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel b m0">
                <div class="panel-heading">
                  <div class="media mt0">
                    <div class="media-body media-middle">
                      <strong>New Note</strong>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <textarea class="form-control" [(ngModel)]="newNoteText" rows="5"></textarea>
                      <span class="pull-right">
                        <button class="btn btn-success" (click)="addNote()">Add</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <em class="fa fa-heart fa-fw"></em>Feedback
            </ng-template>
            <div>
              <div>
                <div class="panel-heading">
                  <div class="media mt0">
                    <div class="media-body media-middle">
                      <strong>Feedback for the speaker (for not accepted proposals)</strong>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <textarea class="form-control" [(ngModel)]="feedBackText" rows="8"></textarea>
                      <div class="pull-right">
                        <div *ngIf="paper.feedback">
                          <small class="text-muted">created: {{paper.feedback.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
                          <small class="text-muted">- updated: {{paper.feedback.lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="pull-right">
                        <button *ngIf="!paper.feedback" class="btn btn-success" (click)="addFeedback()">Add</button>
                        <button *ngIf="paper.feedback" class="btn btn-primary" (click)="updateFeedback()"><i class="fa fa-save"></i> Save</button>
                        <button *ngIf="paper.feedback" class="btn btn-success" (click)="sendEmailModal(paper)"><i class="fa fa-envelope"></i> Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>

        <div class="row">
          <div class="col-xs-12">
            <div class="panel pull-right">
              <a class="btn btn-danger" routerLink="/papers/list">Back</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Side panel -->
  <div class="col-sm-4" *ngIf="userPermissions.includes('role:voter') || userPermissions.includes('role:admin')">
    <div class="panel widget bg-warning" *ngIf="this.hasCurrentUserVote()">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
          <em class="fa fa-star fa-4x text-yellow"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold">{{paper.averageVote || 0.0}}</div>
          <div class="text-uppercase">Average Vote</div>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="form-group">
          <label>Your vote</label>
          <select class="form-control" [(ngModel)]="yourVote" (change)="vote($event.target.value)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="list-group" *ngIf="this.hasCurrentUserVote()">
          <a class="list-group-item" *ngFor="let vote of paper.votes">
            {{vote.username}}
            <span class="label bg-warning-dark pull-right">{{vote.vote}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-6 control-label">Sponsor talk</label>
          <div class="col-sm-4">
            <label class="switch switch-md">
              <input type="checkbox" name="sponsor_talk" [(ngModel)]="paper.sponsor" (change)="togglePaperSponsor()"/>
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
