<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
  <!-- START navbar header-->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">
      <div class="brand-logo">
        <img class="img-responsive" src="assets/img/logo_jbcnconf.png" alt="App Logo" style="max-width: 80px;" />
      </div>
      <div class="brand-logo-collapsed">
        <img class="img-responsive" src="assets/img/logo_jbcnconf.png" alt="App Logo"  style="max-width: 60px;" />
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="nav-wrapper">
    <!-- START Left navbar-->
    <ul class="nav navbar-nav">
      <li>
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a class="hidden-xs" trigger-resize="" (click)="toggleCollapsedSideabar()" *ngIf="!isCollapsedText()">
          <em class="fa fa-navicon"></em>
        </a>
        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
        <a class="visible-xs sidebar-toggle" (click)="settings.layout.asideToggled =! settings.layout.asideToggled; $event.stopPropagation()">
          <em class="fa fa-navicon"></em>
        </a>
      </li>
      <!-- START User avatar toggle-->
      <!-- <li>
                <a (click)="toggleUserBlock($event)">
                    <em class="icon-user"></em>
                </a>
            </li> -->
      <!-- END User avatar toggle-->
      <!-- START lock screen-->
      <!-- <li>
                <a  title="Lock screen" [routerLink]="'/lock'">
                    <em class="icon-lock"></em>
                </a>
            </li> -->
      <!-- END lock screen-->
    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="nav navbar-nav navbar-right">
      <!-- Search icon-->
      <!-- <li>
                <a (click)="openNavSearch($event)">
                    <em class="icon-magnifier"></em>
                </a>
            </li> -->
      <!-- Fullscreen (only desktops)-->
      <!-- <li class="visible-lg">
                <a #fsbutton (click)="toggleFullScreen($event)">
                    <em class="fa fa-expand"></em>
                </a>
            </li> -->
      <li>
        <a (click)="logout()">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
      <!-- END Offsidebar menu-->
    </ul>
    <!-- END Right Navbar-->
  </div>
  <!-- END Nav wrapper-->

  <app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch>

</nav>
<!-- END Top Navbar-->
