<div class="content-heading">{{edition.name}} {{edition.year}}</div>

<div class="row">
  <div class="col-lg-3 col-sm-6" *ngIf="talkCounter.counter">
    <!-- START widget-->
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
          <em class="icon-calculator fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">TOTAL</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.scheduled || 0 }} Scheduled</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.confirmed || 0 }} Confirmed</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.unconfirmed || 0 }} Unconfirmed</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.canceled || 0 }} Cancelled</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.rejected || 0 }} Rejected</div>
          <div class="h4 mt0">{{ papersCount || 0 }} Total</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" *ngIf="talkCounter.counter">
    <!-- START widget-->
    <div class="panel widget bg-green">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-green-dark pv-lg">
          <em class="icon-microphone fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">Talks</div>
          <div class="h4 mt0"><strong>{{ edition.plannedTalks || 0 }} Planned</strong></div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.scheduled || 0 }} Scheduled</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.confirmed || 0 }} Confirmed</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.unconfirmed || 0 }} Unconfirmed</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.canceled || 0 }} Cancelled</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.rejected || 0 }} Rejected</div>
          <div class="h4 mt0">{{ talkCounter.counter.talk.total || 0 }} Total</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <!-- START widget-->
    <div class="panel widget bg-primary" *ngIf="talkCounter.counter">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
          <em class="icon-wrench fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">Workshops</div>
          <div class="h4 mt0"><strong>{{ edition.plannedWorkshops || 0 }} Planned</strong></div>
          <div class="h4 mt0">{{ talkCounter.counter.workshop.scheduled || 0 }} Scheduled</div>
          <div class="h4 mt0">{{ talkCounter.counter.workshop.confirmed || 0 }} Confirmed</div>
          <div class="h4 mt0">{{ talkCounter.counter.workshop.unconfirmed || 0 }} Unconfirmed</div>
          <div class="h4 mt0">{{ talkCounter.counter.workshop.canceled || 0 }} Cancelled</div>
          <div class="h4 mt0">{{ talkCounter.counter.workshop.rejected || 0 }} Rejected</div>
          <div class="h4 mt0">{{ talkCounter.counter.workshop.total || 0 }} Total</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <!-- START widget-->
    <div class="panel widget bg-green" *ngIf="speakersCount">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-green-dark pv-lg">
          <em class="icon-people fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">Speakers</div>
          <div class="h4 mt0">{{ talkCounter.speakers || 0 }} Speakers</div>
          <div class="h4 mt0">{{ talkCounter.speakersCash || 0 }} With travel costs</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12" *ngIf="tagCounters.length > 0">
    <!-- START bar chart-->
    <div class="panel" id="panelChart3">
      <div class="panel-heading">
        <div class="panel-title">Tags</div>
      </div>
      <!--<div class="panel-body">
          <div flot [dataset]="tagChartData" [options]="barStackedOptions" ></div>
      </div>-->
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2"><strong>Tag</strong></div>
          <div class="col-xs-5"><strong>Talks</strong></div>
          <div class="col-xs-5"><strong>Papers</strong></div>
        </div>
        <div class="row" *ngFor="let tagCounter of tagCounters">
          <div class="col-xs-2">{{tagCounter.tag}}</div>
          <div class="col-xs-5">
            {{tagCounter.talk || 0}}:
            <div class="progress progress-striped progress-xs">
              <div class="progress-bar progress-bar-success progress-{{Math.round(tagCounter.talk*100/maxTalksValue)}}"
                   role="progressbar" attr.aria-valuenow="{{tagCounter.talk}}" aria-valuemin="0"
                   attr.aria-valuemax="{{maxTalksValue}}">
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            {{tagCounter.paper}}:
            <div class="progress progress-striped progress-xs">
              <div
                class="progress-bar progress-bar-success progress-{{Math.round(tagCounter.paper*100/maxPapersValue)}}"
                role="progressbar" attr.aria-valuenow="{{tagCounter.paper}}" aria-valuemin="0"
                attr.aria-valuemax="{{maxPapersValue}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END bar chart-->
  </div>
</div>
