<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Users <a class="btn btn-success pull-right" routerLink="/users/form">
          <em class="icon-plus"></em></a>
        </h2>
      </div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="term" id="user-search-term" type="term" name="term" placeholder="username" />
          </div>
          <a class="btn btn-primary" (click)="search()">Search</a>
        </form>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="searchResult">
              <tr *ngFor="let user of searchResult.items; let index = index">
                <td>{{index+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roles.sort().join(", ")}}</td>
                <td>{{user.email}}</td>
                <td>
                  <a class="btn btn-success" routerLink="/users/detail/{{user._id}}">
                    <em class="icon-eye"></em>
                  </a>
                  <a class="btn btn-primary" routerLink="/users/form/{{user._id}}">
                    <em class="icon-pencil"></em>
                  </a>
                  <a class="btn btn-danger" (click)="deleteModal(user)"><em class="icon-trash"></em></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>