<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!sponsor._id">
        <h2>New Sponsor</h2>
      </div>
      <div class="panel-heading" *ngIf="sponsor._id">
        <h2>Edit Sponsor</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="sponsor.name" type="text"
                   placeholder="Enter name"/>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="abstract" [(ngModel)]="sponsor.description" rows="10"
                      placeholder="Enter description"></textarea>
            <!--
            <input class="form-control" name="description" [(ngModel)]="sponsor.description" type="text"
                   placeholder="Enter description"/>-->
          </div>
          <div class="form-group">
            <label>Level</label>
            <select class="form-control" name="level" [(ngModel)]="sponsor.level">
              <option value="top">Top</option>
              <option value="premium">Premium</option>
              <option value="regular">Regular</option>
            </select>
          </div>

          <!-- preset sponsor.links -->
          <div class="form-group">
            <label>Links</label>
            <div>
              Logo url (eg. '/assets/img/sponsors/logo.png') <input class="form-control" name="description" [(ngModel)]="links['logo']" type="text"/>
              web <input class="form-control" name="link_web" [(ngModel)]="links['web']" type="text"/>
              twitter (full url) <input class="form-control" name="link_twitter" [(ngModel)]="links['twitter']" type="text"/>
              instagram <input class="form-control" name="link_instagram" [(ngModel)]="links['instagram']" type="text"/>
              linkedin <input class="form-control" name="link_linkedin" [(ngModel)]="links['linkedin']" type="text"/>
            </div>
          </div>

          <span class="pull-right">
            <a class="btn btn-primary" (click)="!sponsor._id ? create() : update()">Save</a>
            <a class="btn btn-danger" routerLink="/sponsors/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
