<div class="row">
  <div class="col-sm-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!talk._id">
        <h2>New talk</h2>
      </div>
      <div class="panel-heading" *ngIf="talk._id">
        <h2>Edit talk</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <fieldset>
            <!-- <h3>talk</h3> -->
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Edition</label>
                  <p>{{ talk.edition }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" name="title" [(ngModel)]="talk.title" type="text" placeholder="Title" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Languages</label>
                  <input class="form-control" name="languages" [(ngModel)]="languages" type="text" placeholder="Languages" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Type</label>
                  <select class="form-control" name="type" [(ngModel)]="talk.type">
                    <option value="talk">Talk</option>
                    <option value="workshop">Workshop</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Level</label>
                  <select class="form-control" name="level" [(ngModel)]="talk.level">
                    <option value="beginner">Beginner</option>
                    <option value="middle">Middle</option>
                    <option value="advanced">Advanced</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Abstract</label>
                  <textarea class="form-control" name="abstract" [(ngModel)]="talk.paperAbstract" rows="10"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Tags</label>
                  <input class="form-control" name="tags" [(ngModel)]="tags" type="text" placeholder="Tags" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Concrete day</label>
                  <select class="form-control" name="preferenceDay" [(ngModel)]="talk.preferenceDay">
                    <option value="" selected>No, I don't care.</option>
                    <option value="2022/07/18">Monday 18th</option>
                    <option value="2022/07/19">Tuesday 19th</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Comments</label>
                  <textarea class="form-control" name="comments" [(ngModel)]="talk.comments" rows="10"></textarea>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <h3>Speakers
              <button type="button" class="btn btn-success btn-xs" (click)="addSpeaker()">
                <em class="fa fa-plus fa-fw"></em>Add speaker
              </button>
            </h3>
            <div class="row" *ngFor="let speaker of talk.speakers; let ispeaker = index">
              <div class="col-sm-10">
                <h4>Speaker {{ispeaker}}
                  <button class="btn btn-xs btn-danger" (click)="removeSpeaker(ispeaker)">
                    <em class="fa fa-trash fa-fw"></em>Remove speaker
                  </button>
                </h4>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Full name</label>
                      <input class="form-control" name="fullName{{ispeaker}}" [(ngModel)]="speaker.fullName" type="text" placeholder="Jane Smith"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>E-mail</label>
                      <input class="form-control" name="email{{ispeaker}}" [(ngModel)]="speaker.email" type="text" placeholder="your-email@yourserver.com"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Job title</label>
                      <input class="form-control" name="jobTitle{{ispeaker}}" [(ngModel)]="speaker.jobTitle" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Company</label>
                        <input class="form-control" name="company{{ispeaker}}" [(ngModel)]="speaker.company" type="text"/>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Biography</label>
                      <textarea class="form-control" name="biography{{ispeaker}}" [(ngModel)]="speaker.biography" rows="10"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <div class="form-group">
                      <label>Picture</label>
                      <input class="form-control" name="picture{{ispeaker}}" [(ngModel)]="speaker.picture" type="text" placeholder="http://someserver.com/path/to/picture/image.png"/>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <img src="{{speaker.picture}}" *ngIf="speaker.picture">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <div class="form-group">
                      <label>Public picture (site's url):</label>
                      <input class="form-control" name="publicPicture{{ispeaker}}" [(ngModel)]="speaker.publicPicture" type="text" placeholder="http://www.jbcnconf.com/2020/assets/img/speakers/speaker-name.jpg"/>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <img src="{{speaker.publicPicture}}" *ngIf="speaker.publicPicture">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Web</label>
                      <input class="form-control" name="web{{ispeaker}}" [(ngModel)]="speaker.web" type="text" placeholder="http://someserver.com"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Twitter</label>
                      <input class="form-control" name="twitter{{ispeaker}}" [(ngModel)]="speaker.twitter" type="text" placeholder="http://someserver.com"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>LinkedIn</label>
                      <input class="form-control" name="linkedin{{ispeaker}}" [(ngModel)]="speaker.linkedin" type="text" placeholder="http://someserver.com"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>T-shirt size</label>
                      <select class="form-control" name="tshirtSize{{ispeaker}}" [(ngModel)]="speaker.tshirtSize">
                        <option value="S" selected>S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Food allergies</label>
                      <input class="form-control" name="allergies{{ispeaker}}" [(ngModel)]="speaker.allergies" type="text" placeholder="peanuts, celiac, etc..."/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Speaker's dinner</label>
                      <div class="col-sm-5">
                        <label class="switch switch-sm">
                          <input type="checkbox" name="speakersParty{{ispeaker}}" [(ngModel)]="speaker.speakersParty" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Attendees party</label>
                      <div class="col-sm-5">
                        <label class="switch switch-sm">
                          <input type="checkbox" name="attendeesParty{{ispeaker}}" [(ngModel)]="speaker.attendeesParty" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Need help with travel costs? {{speaker.travelCost}}</label>
                      <div class="col-sm-5">
                        <label class="switch switch-sm">
                          <input type="checkbox" name="travelCost{{ispeaker}}" [(ngModel)]="speaker.travelCost" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="pull-right">
            <a class="btn btn-primary" (click)="save()">Save</a>
            <a class="btn btn-danger" routerLink="/talks/list">Cancel</a>
          </div>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
