<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-heading" *ngIf="!instance._id">
        <h2>New session</h2>
      </div>
      <div class="panel-heading" *ngIf="instance._id">
        <h2>Edit session</h2>
      </div>

      <div class="panel-body">
        <div class="pull-right">
            <label class="control-label">enable edition</label>
            <label class="switch switch-sm">
              <input type="checkbox" name="edit" [(ngModel)]="edit" />
              <span></span>
            </label>
          </div>
        <form role="form">
          <div class="form-group">
            <label>Day</label>
            <select class="form-control" name="day" [(ngModel)]="instance.day" [disabled]="(!edit)">
              <option value="" selected>(empty)</option>
              <option value="2022/07/18">Monday 18th</option>
              <option value="2022/07/19">Tuesday 19th</option>
              <option value="2022/07/20">Wednesday 29th</option>
            </select>
          </div>
          <div class="form-group">
            <label>Start time</label>
            <input class="form-control" name="startTime" [(ngModel)]="instance.startTime" type="text" placeholder="Enter start time" [readonly]="(!edit)"/>
          </div>
          <div class="form-group">
            <label>End time</label>
            <input class="form-control" name="endTime" [(ngModel)]="instance.endTime" type="text" placeholder="Enter end time" [readonly]="(!edit)"/>
          </div>
          <div class="form-group">
            <label>Room</label>
            <select class="form-control" name="room" [(ngModel)]="instance.roomId" [disabled]="(!edit)">
              <option value="" selected>Not set</option>
              <option *ngFor="let r of rooms;" value="{{r._id}}">{{r.name}} ({{r.capacity}} ppl)</option>
            </select>
          </div>
          <div class="form-group">
            <label>Track name</label>
            <select class="form-control" name="track" [(ngModel)]="instance.trackId" [disabled]="(!edit)">
              <option value="" selected="selected">(empty)</option>
              <option *ngFor="let t of tracks;" value="{{t._id}}">{{t.name}} ({{t.description}})</option>
            </select>
          </div>
          <div class="form-group">
            <label>SlotId</label>
            <input class="form-control" name="slotId" [(ngModel)]="instance.slotId" type="text" placeholder="Enter slot id" [readonly]="(!edit)"/>
          </div>

          <div class="form-group">
            <label>Talk</label>
            <select class="form-control" name="talk" [(ngModel)]="talk._id" [disabled]="(!edit)">
              <option value="">(not set)</option>
              <option *ngFor="let t of talks;" value="{{t._id}}">{{t.title}} ({{t.type.toUpperCase()}})</option>
            </select>
          </div>

          <span class="pull-right">
            <a class="btn btn-primary" (click)="!instance._id ? create() : update()">Save</a>
            <a class="btn btn-danger" routerLink="/sessions/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
