<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Votes
                <!--
                <a class="btn btn-success pull-right" routerLink="/votes/form">
                <em class="icon-plus"></em></a>
                -->
              </h2>
            </div>
            <div class="panel-body">
              <form class="form-inline" role="form">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-10">
                        <div class="form-group">
                          <div>
                            <label class="control-label">Talks</label>
                          </div>
                          <select class="form-control" [(ngModel)]="talkId" name="talkId">
                            <option value=""></option>
                            <option *ngFor="let t of talks;" value="{{t._id}}">{{t.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <div>
                            <label class="control-label">Workshops</label>
                          </div>
                          <select class="form-control" [(ngModel)]="talkId" name="talkId">
                            <option value=""></option>
                            <option *ngFor="let t of workshops;" value="{{t._id}}">{{t.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a class="btn btn-primary" (click)="search()">Search <em class="icon-magnifier"></em></a>
                      </div>
                      <div class="col-md-2">
                        <a class="btn btn-success" (click)="saveAsCSV()">CSV <em class="icon-doc"></em></a>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- -->
                <div class="table-responsive">
                  <div class="col-xs-12">Showing {{searchResult.items.length}} elements</div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Created on</th>
                        <th>Talk</th>
                        <th>User</th>
                        <th>Value</th>
                        <th>Delivery</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="searchResult">
                      <tr *ngFor="let item of searchResult.items; let index = index">
                        <td>{{item.createdDate | date:'yyyy/MM/dd HH:mm':'+0100'}}</td>
                        <td>{{item.talkId}}</td>
                        <td>{{item.userEmail}}</td>
                        <td>{{item.value}}</td>
                        <td>{{item.delivery}}</td>
                        <td>
                          <a class="btn btn-success" routerLink="/votes/form/{{item._id}}">
                            <em class="icon-eye"></em>
                          </a>
                          <a class="btn btn-danger" (click)="deleteModal(item)">
                            <em class="icon-trash"></em>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
