<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Talk Detail
          <span class="pull-right">
            <a class="btn btn-primary" routerLink="/talks/form/{{talk._id}}">
              <em class="icon-pencil"></em>
            </a>
          </span>
        </h2>
      </div>
      <div class="panel-body">
        <tabset class="bg-white p0" justified="true">
          <tab style="padding-left:15px">
            <ng-template tabHeading>
              <em class="fa fa-bullhorn fa-fw"></em> Details
            </ng-template>
            <div class="row">
              <div class="col-xs-9"></div>
              <div class="col-xs-3">
                <a href="{{publicView}}/{{talk.paperId}}" target="_blank"><i class="fa fa-link"></i> public view</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Edition:</div>
              <div class="col-xs-9">{{talk.edition}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Title:</div>
              <div class="col-xs-9">{{talk.title}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Languages:</div>
              <div class="col-xs-9">
                <span *ngFor="let lang of talk.languages" class="badge badge-info">{{lang}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">State:</div>
              <div class="col-xs-9">{{talk.state}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Abstract:</div>
              <div class="col-xs-9">{{talk.paperAbstract}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Type:</div>
              <div class="col-xs-9">{{talk.type}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Level:</div>
              <div class="col-xs-9">{{talk.level}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Tags:</div>
              <div class="col-xs-9">
                <span *ngFor="let tag of talk.tags" class="badge badge-info">{{tag}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Preference day:</div>
              <div class="col-xs-9">{{talk.preferenceDay || 'No'}}</div>
            </div>
            <div class="row">
              <div class="col-xs-3 text-bold">Comments:</div>
              <div class="col-xs-9">{{talk.comments}}</div>
            </div>
            <!-- speakers -->
            <div class="row">
              <div class="col-xs-3 text-bold">Speakers:</div>
              <div class="col-xs-9">
                <div class="list-group">
                  <div class="list-group-item" *ngFor="let speaker of talk.speakers">
                    <div class="media-box">
                      <div class="media-box-body clearfix">
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="#">
                              <img class="media-object img-circle img-thumbnail thumb48" src="{{speaker.picture}}" alt="Contact" />
                            </a>
                          </div>
                          <div class="media-body pt-sm">
                            <div class="text-bold">{{speaker.fullName}}</div>
                          </div>
                        </div>
                        <p class="mb-sm">
                          <small class="text-bold">Public picture (site's url):</small>
                          <small>{{speaker.publicPicture}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">E-mail:</small>
                          <small>{{speaker.email}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Job title:</small>
                          <small>{{speaker.jobTitle}}</small>
                        </p>
                        <p class="mb-sm">
                            <small class="text-bold">Company:</small>
                            <small>{{speaker.company}}</small>
                          </p>
                        <p class="mb-sm">
                          <small class="text-bold">Biography:</small>
                          <br/>
                          <small>{{speaker.biography}}</small>
                        </p>
                        <p class="mb-sm" *ngIf="speaker.web">
                          <small class="text-bold">Web:</small>
                          <small>
                            <a href="{{speaker.web}}" target="_blank">{{speaker.web}}</a>
                          </small>
                        </p>
                        <p class="mb-sm" *ngIf="speaker.twitter">
                          <small class="text-bold">Twitter:</small>
                          <small>{{speaker.twitter}}</small>
                        </p>
                        <p class="mb-sm" *ngIf="speaker.linkedin">
                          <small class="text-bold">LinkedIn:</small>
                          <small>
                            <a href="{{speaker.linkedin}}" target="_blank">{{speaker.linkedin}}</a>
                          </small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">T-shirt size:</small>
                          <small>{{speaker.tshirtSize}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Food allergies:</small>
                          <small>{{speaker.allergies}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Needs travel help:</small>
                          <small>{{speaker.travelCost}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Speaker's dinner:</small>
                          <small>{{speaker.speakersParty}}</small>
                        </p>
                        <p class="mb-sm">
                          <small class="text-bold">Attendees party:</small>
                          <small>{{speaker.attendeesParty}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <!-- <tab>
            <ng-template tabHeading>
              <em class="fa fa-envelope fa-fw"></em>Notes ({{notes.length}})
            </ng-template>
            <div class="panel panel-default">
                <div class="panel-content">
                    <div class="panel b m0" *ngFor="let note of notes">
                        <div class="panel-heading">
                            <div class="media mt0">
                                <div class="media-body media-middle">
                                    <h5 class="media-heading m0 text-bold">
                                        {{note.owner}}
                                        <span class="pull-right">
                                            <a href="#" *ngIf="note.owner === username">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" *ngIf="note.owner === username">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </span>
                                    </h5>
                                    <small class="text-muted">{{note.lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</small>

                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <pre>{{note.text}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel b m0">
                        <div class="panel-heading">
                            <div class="media mt0">
                                <div class="media-body media-middle">
                                    <strong>Add Note</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea class="form-control" [(ngModel)]="newNoteText" rows="5"></textarea>
                                    <button class="btn btn-primary pull-right" (click)="addNote()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </tab> -->
        </tabset>
        <div class="row">
          <div class="col-xs-12">
            <a routerLink="/talks/list" class="btn btn-danger pull-right">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Side panel -->
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Scheduling</h3>
        <div class="form-group">
          <label>Session</label>
          <select class="form-control" [(ngModel)]="talk.sessionId" (change)="updateSession($event.target.value)">
            <option *ngFor="let it of sessions;" value="{{it._id}}">{{it.slotId}}</option>
          </select>
        </div>
        <div class="list-group-item">
          <div class="mb-sm text-bold">
            <em class="fa fa-info-circle fa-fw"></em>Details
          </div>
          <p class="mb-sm">
            <small class="text-bold">Slot Id</small>
            <small>{{talk.session?.slotId}}</small>
          </p>
          <p class="mb-sm">
            <small class="text-bold">Day</small>
            <small>{{talk.session?.day}}</small>
          </p>
          <p class="mb-sm">
            <small class="text-bold">Start time</small>
            <small>{{talk.session?.startTime}}</small>
          </p>
          <p class="mb-sm">
            <small class="text-bold">End time</small>
            <small>{{talk.session?.endTime}}</small>
          </p>
          <p class="mb-sm">
            <small class="text-bold">Room</small>
            <small>{{talk.session?.room?.name}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
