<div class="row bg-info" *ngIf="stream.length > 0">
  <div class="col-xs-8 bg-info">
    <div class="text-left papers-left">
      <label class="radio-inline c-radio">
        <input id="inlineradio1" type="radio" name="talkType" value="all" [(ngModel)]="type" (change)="refreshStream()"/>
        <span class="fa fa-circle"></span>all
      </label>
      <label class="radio-inline c-radio">
        <input id="inlineradio2" type="radio" name="i-radio" value="talk" [(ngModel)]="type" [disabled]="getTalksCount() == 0" (change)="refreshStream()"/>
        <span class="fa fa-circle"></span>talks
      </label>
      <label class="radio-inline c-radio">
        <input id="inlineradio3" type="radio" name="i-radio" value="workshop" [(ngModel)]="type" [disabled]="getWorkshopsCount() == 0" (change)="refreshStream()"/>
        <span class="fa fa-circle"></span>workshops
      </label>
      <label>
        Sort by
        <select class="form-control" name="sort" [(ngModel)]="sortSelect" (change)="resetStream()">
          <option value="createdDate_desc">Created date (desc)</option>
          <option value="createdDate_asc">Created date (asc)</option>
          <option value="averageVote_asc">Average vote</option>
          <option value="votesCount_asc">Number of votes</option>
          <option value="title_desc">Title (desc)</option>
          <option value="title_asc">Title (asc)</option>
        </select>
      </label>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="text-right papers-left">{{currentPosition+1}} of {{stream.length}} ({{getTalksCount()}} talks / {{getWorkshopsCount()}} workshops)</div>
    <p></p>
  </div>
</div>

<div class="row" *ngIf="stream.length==0">
  <div class="col-xs-12 bg-success pull-right">Congrationlations! You have no papers left to vote</div>
  <br/>
  <button class="btn btn-primary" (click)="resetStream()">Reload stream</button>
</div>

<br/>
<div class="row" *ngIf="stream.length!=0">
  <div class="col-xs-12 col-md-12">
    <tabset class="bg-white p0" justified="true">
      <tab>
        <ng-template tabHeading>
          <em class="fa fa-star fa-fw"></em> Vote
        </ng-template>
        <!-- tab 1 -->
        <!-- START panel-->
        <div class="panel">
          <div class="panel-heading">
            <h2>{{paper.title}}
              <a href="https://www.youtube.com/results?search_query={{paper.title}}" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>
              <a href="https://www.google.es/search?q={{getGoogleQuery()}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Google search">
                <i class="fa fa-google"></i>
              </a>
              <span class="panel pull-right">
                <span class="badge badge-warning" *ngIf="paper.sponsor">Sponsor paper</span>
                <a class="btn btn-link" (click)="back()">&lt;&lt; Back </a>
                <a class="btn btn-link" (click)="next()">Next >></a>
              </span>
            </h2>
            <div class="vote-stars">
              <rating [(ngModel)]="vote" (click)="doVote()" max="10" stateOn="fa fa-star text-yellow" stateOff="fa fa-star-o"></rating>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <h4>Type</h4>
                <div  class="col-xs-12">
                  <em *ngIf="paper.type == 'talk'" class="fa fa-bullhorn"></em>
                  <em *ngIf="paper.type == 'workshop'" class="fa fa-wrench"></em>
                   {{paper.type.toUpperCase()}}
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <h4>Level</h4>
                <div class="col-xs-12">{{paper.level}}</div>
              </div>
              <div class="col-xs-12 col-md-4">
                <h4>Sponsor?</h4>
                <div class="col-xs-12">{{paper.sponsor}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <h4>Received</h4>
                <div class="col-xs-12">{{ paper.createdDate | date:'yyyy/MM/dd HH:mm:ss' }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <h4>Speakers</h4>
                <div class="col-xs-12" *ngFor="let sender of paper.senders; let i = index">
                  {{sender.fullName}}
                  <button type="button" class="btn btn-info btn-sm" (click)="selectSender(sender);classicModal.show()" data-toggle="tooltip" data-placement="bottom" title="Speaker info">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-sm" (click)="selectSender(sender)" data-toggle="modal" data-target="#extraPapers" title="Papers from the same speaker">Other papers</button>
                  <a href="https://www.youtube.com/results?search_query={{sender.fullName}}" title="Youtube search" target="_blank">
                    <i class="fa fa-youtube"></i>
                  </a>
                  <a href="https://www.google.es/search?q={{sender.fullName}}" title="Google search" target="_blank">
                    <i class="fa fa-google"></i>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <h4>Concrete day:</h4>
                <div class="col-xs-12">{{paper.preferenceDay || 'No'}}</div>
              </div>
              <div class="col-xs-12">
                <h4>Tags</h4>
                <div>
                  <span *ngFor="let tag of paper.tags" class="badge badge-info">{{tag}}</span>
                </div>
              </div>
              <div class="col-xs-12">
                <h4>Abstract:</h4>
                <p>{{paper.abstract}}</p>
              </div>
              <div class="col-xs-12" *ngIf="paper.comments">
                <h4>Sender comments:</h4>
                <p>{{paper.comments}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <span class="panel pull-right">
                  <!-- <a class="btn btn-danger" routerLink="/papers/list">Papers list</a> -->
                  <a class="btn btn-link" (click)="back()">&lt;&lt; Back </a>
                  <a class="btn btn-link" (click)="next()">Next >></a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- END panel-->
        <!-- tab 1 -->
      </tab>
      <tab>
        <!-- tab 2 -->
        <ng-template tabHeading>
          <em class="fa fa-comments fa-fw"></em>Notes ({{notes.length}})
        </ng-template>
        <div class="">
          <div class="panel-content">
            <div class="panel m0" *ngFor="let note of notes">
              <div class="panel-heading">
                <div class="media mt0">
                  <div class="media-body media-middle">
                    <h5 class="media-heading m0 text-bold">
                      {{note.owner}}
                      <span class="pull-right">
                        <a href="#" *ngIf="note.owner === username" (click)="editNote(note)">
                          <i class="fa fa-save"></i>
                        </a>
                        <a href="#" *ngIf="note.owner === username" (click)="deleteNote(note)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>
                    </h5>
                    <small class="text-muted">created: {{note.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
                    <small class="text-muted">- updated: {{note.lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <textarea class="form-control" name="note_text" [(ngModel)]="note.text"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel b m0">
              <div class="panel-heading">
                <div class="media mt0">
                  <div class="media-body media-middle">
                    <strong>Add Note</strong>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <textarea class="form-control" [(ngModel)]="newNoteText" rows="5"></textarea>
                    <button class="btn btn-primary pull-right" (click)="addNote()">Add</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- tab 2 -->
      </tab>
    </tabset>
  </div>

  <div ng-controller="senderDetailsCtrl">
    <div id="senderDetails" class="modal fade" bsModal #classicModal="bs-modal" role="dialog">
      <div class="modal-dialog modal-lg" *ngIf="sender">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" (click)="classicModal.hide()">&times;</button>
            <h4 class="modal-title">
              {{sender.fullName}}
              <a href="https://www.google.es/search?q={{sender.fullName}}" target="_blank" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Google search">
                <i class="fa fa-google"></i>
              </a>
            </h4>
          </div>
          <div class="modal-body">
            <img class="media-object img-circle img-thumbnail thumb48 pull-left" src="{{sender.picture}}" alt="Contact" />

            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h4>E-mail</h4>
                <p>{{sender.email}}</p>
              </div>
              <div class="col-xs-12 col-md-6" *ngIf="sender.twitter">
                <h4>Twitter</h4>
                <p>{{sender.twitter}}</p>
              </div>
              <div class="col-xs-12 col-md-6" *ngIf="sender.web">
                <h4>Web</h4>
                <p>
                  <a href="{{sender.web}}" target="_blank">{{sender.web}}</a>
                </p>
              </div>
              <div class="col-xs-12 col-md-6" *ngIf="sender.twitter">
                <h4>Company</h4>
                <p>{{sender.company}}</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <h4>T-shirt size</h4>
                <p>{{sender.tshirtSize}}</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <h4>Needs travel help</h4>
                <p>{{sender.travelCost}}</p>
              </div>
              <div class="col-xs-12 col-md-6" *ngIf="sender.allergies">
                <h4>Food allergies</h4>
                <p>{{sender.allergies}}</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <h4>Speaker's dinner</h4>
                <p>{{sender.speakersParty}}</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <h4>Attendees party</h4>
                <p>{{sender.attendeesParty}}</p>
              </div>
              <div class="col-xs-12">
                <h4>Biography</h4>
                <p>{{sender.biography}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" (click)="classicModal.hide()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="extraPapersCtrl">
    <div id="extraPapers" class="modal fade" role="dialog">
      <div class="modal-dialog" *ngIf="sender">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Other Papers</h4>
          </div>
          <div class="modal-body">
            <div class="list-group">
              <div class="list-group-item" *ngFor="let paper of senderPapers">
                <div class="row">
                  <div class="col-xs-3">
                    <em *ngIf="paper.type == 'talk'" class="fa fa-bullhorn"></em>
                    <em *ngIf="paper.type == 'workshop'" class="fa fa-wrench"></em>
                    {{paper.type.toUpperCase()}}
                  </div>
                  <div class="col-xs-6">
                    <span class="text-bold">{{paper.title}}</span>
                  </div>
                  <div class="col-xs-3">
                    <span class="text-bold">Avg vote:</span>
                    <span>{{paper.averageVote}}</span>
                  </div>
                  <div class="col-xs-12">&nbsp;</div>
                  <div class="col-xs-12">
                    <span class="text-bold">Speakers</span>
                    <div class="col-xs-12">
                      <span *ngFor="let sender of paper.senders; let isLast=last">{{sender.fullName}}{{isLast ? '' : ', '}}</span>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <span class="text-bold">Abstract</span>
                    <p>{{paper.abstract}}</p>
                  </div>
                  <div class="col-xs-12">
                    <span class="text-bold">Votes</span>
                    <div class="col-xs-12">
                      <span *ngFor="let vote of paper.votes; let isLast=last">{{vote.username}} {{vote.vote}}{{isLast ? '' : ', '}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
