<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!jobOffer._id">
        <h2>New Job offer</h2>
      </div>
      <div class="panel-heading" *ngIf="jobOffer._id">
        <h2>Edit Job offer</h2>
      </div>
      <div class="panel-body">
        <form role="form">

          <div class="form-group">
            <label>Sponsor</label>
            <select class="form-control" [(ngModel)]="jobOffer.sponsorId" name="sponsor"
                    (change)="updateSponsorId($event.target.value)">
              <option *ngFor="let s of sponsors;" value="{{s._id}}">{{s.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="name" [(ngModel)]="jobOffer.title" type="text"
                   placeholder="Enter name"/>
          </div>
          <div class="form-group">
            <label>Location (optional)</label>
            <input class="form-control" name="location" [(ngModel)]="jobOffer.location" type="text"
                   placeholder="Enter location"/>
          </div>
          <div class="form-group">
            <label>Description (supports embedded HTML)</label>
            <textarea class="form-control" name="description" [(ngModel)]="jobOffer.description" rows="10"
                      placeholder="Enter description"></textarea>
          </div>
          <div class="form-group">
            <label>Link</label>
            <input class="form-control" name="link" [(ngModel)]="jobOffer.link" type="text"
                   placeholder="Enter description"/>
          </div>

          <span class="pull-right">
            <a class="btn btn-primary" (click)="!jobOffer._id ? create() : update()">Save</a>
            <a class="btn btn-danger" routerLink="/job-offers/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
