<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Papers
          <a class="btn btn-success pull-right" routerLink="/papers/form">
            <em class="icon-plus"></em>
          </a>
        </h2>
      </div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <label>Global search
                    <input [(ngModel)]="term" id="paper-search-term" type="text" name="term"/>
                  </label>
                  <span>
                    Search in:
                    <input type="checkbox" id="title" name="title" [(ngModel)]="title" (change)="search()">
                    Title
                    <input type="checkbox" id="abstract" name="abstract" [(ngModel)]="abstract" (change)="search()">
                    Abstract
                    <input type="checkbox" id="comments" name="comments" [(ngModel)]="comments" (change)="search()">
                    Comments
                    <input type="checkbox" id="tags" name="tags" [(ngModel)]="tags" (change)="search()">
                    Tags
                    <input type="checkbox" id="senderName" name="senderName" [(ngModel)]="senderName" (change)="search()">
                    Speaker name
                    <input type="checkbox" id="senderBio" name="senderBio" [(ngModel)]="senderBio" (change)="search()">
                    Speaker bio
                    <input type="checkbox" id="senderCompany" name="senderCompany" [(ngModel)]="senderCompany" (change)="search()">
                    Speaker company
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <label>State</label>
                  <select class="form-control" [(ngModel)]="state" id="paper-search-status" name="state" (change)="search()">
                    <option value="">Any</option>
                    <option value="sent">Sent</option>
                    <option value="voting">Voting</option>
                    <option value="accepted">Accepted</option>
                    <option value="canceled">Canceled</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Type</label>
                  <select class="form-control" [(ngModel)]="type" id="paper-search-type" name="type" (change)="search()">
                    <option value="">Any</option>
                    <option value="talk">Talk</option>
                    <option value="workshop">Workshop</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Show sponsor papers</label>
                  <label class="switch switch-sm">
                    <input type="checkbox" name="sponsorPapers" [(ngModel)]="sponsorPapers" (change)="search()"/>
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <label class="control-label">Speaker company</label>
                  <select class="form-control" [(ngModel)]="company" name="company" (change)="search()">
                    <optgroup>
                      <option value="">Any</option>
                      <option value="(not_set)">No company set</option>
                    </optgroup>
                    <optgroup label="companies">
                      <option *ngFor="let c of companies;" value="{{c.name}}">{{c.name}}</option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Exclude accepted speakers</label>
                  <label class="switch switch-sm">
                    <input type="checkbox" name="excludeSpeakers" [(ngModel)]="excludeSpeakers" (change)="search()"/>
                    <span></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="control-label">Voter</label>
                  <select class="form-control" [(ngModel)]="voter" name="voter" (change)="search()">
                    <option value=""></option>
                    <option *ngFor="let v of voterNames();" value="{{v}}">{{v}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Vote</label>
                  <select class="form-control" [(ngModel)]="voteValue" name="voteValue" (change)="setVoteValue($event.target.value);search()">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" (click)="search()">Search</a>
                <a class="btn btn-success" (click)="saveAsCSV()">CSV <em class="icon-doc"></em></a>
              </div>
            </div>
          </div>
        </form>

        <div class="table-responsive">
          <div class="col-xs-12">Showing {{page * size}} to {{ (page * size) + searchResult.items.length }} of {{ searchResult.total }} papers</div>
          <div class="col-xs-12" *ngIf="searchResult.total > size">
            <ul class="pagination pagination-sm">
              <li *ngIf="page>0">
                <a href="#" (click)="previousPage()">«</a>
              </li>
              <li *ngFor="let p of pages" [ngClass]="{'active': p === page}">
                <a href="#">{{ p + 1 }}</a>
              </li>
              <li *ngIf="page < (searchResult.totalPages - 1 )">
                <a href="#" (click)="nextPage()">»</a>
              </li>
            </ul>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th (click)="setSort('createdDate')">
                  Created on
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'createdDate' && !sortAsc, 'fa-chevron-down':sortColumn === 'createdDate' && sortAsc} "></i>
                </th>
                <th (click)="setSort('title')">
                  Title
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'title' && !sortAsc, 'fa-chevron-down':sortColumn === 'title' && sortAsc} "></i>
                </th>
                <th (click)="setSort('type')">
                  Type
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'type' && !sortAsc, 'fa-chevron-down':sortColumn === 'type' && sortAsc} "></i>
                </th>
                <th>
                  Speaker(s)
                </th>
                <th>Travel costs</th>
                <th (click)="setSort('state')">
                  State
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'state' && !sortAsc, 'fa-chevron-down':sortColumn === 'state' && sortAsc} "></i>
                </th>
                <th (click)="setSort('averageVote')">
                  Average Vote
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'averageVote' && !sortAsc, 'fa-chevron-down':sortColumn === 'averageVote' && sortAsc} "></i>
                </th>
                <th>
                  Sponsor?
                </th>
                <th (click)="setSort('votesCount')">
                  Votes/Total
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'votesCount' && !sortAsc, 'fa-chevron-down':sortColumn === 'votesCount' && sortAsc} "></i>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="searchResult">
              <tr *ngFor="let item of searchResult.items; let index = index" [ngClass]="{'paper-voted': getVotesNum(item) === searchResult.votersCount}">
                <td>{{ item.createdDate | date:'yyyy/MM/dd HH:mm' }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.type }}</td>
                <td>{{ formatSendersNames(item) }}</td>
                <td [ngClass]="{'danger':needsMoney(item.senders)}">{{ 'boolean.'+needsMoney(item.senders) | translate }}</td>
                <td [ngClass]="{'danger':(item.state == 'canceled')}">{{ item.state }}</td>
                <td>{{ this.hasCurrentUserVote(item) && item.averageVote ? item.averageVote : 0.0 }}</td>
                <td>{{ item.sponsor?'yes':'no' }}</td>
                <td>{{ getVotesNum(item) }} / {{ searchResult.votersCount }}</td>
                <td>
                  <a class="btn btn-success" routerLink="/papers/detail/{{item._id}}">
                    <em class="icon-eye"></em>
                  </a>
                  <a class="btn btn-primary" routerLink="/papers/form/{{item._id}}">
                    <em class="icon-pencil"></em>
                  </a>
                  <!-- *ngIf="isShown(item)" -->
                  <a class="btn btn-success" (click)="approveModal(item)" >
                    <em class="fa fa-check-circle"></em>
                  </a>
                  <a [ngClass]="{'btn':true, 'btn-danger':true, 'hidden':!showDelete}" (click)="deleteModal(item)">
                    <em class="icon-close"></em>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-lg-12 text-right" *ngIf="searchResult.total > size">
            <ul class="pagination pagination-sm">
              <li *ngIf="page>0">
                <a href="#" (click)="previousPage()">«</a>
              </li>
              <li *ngFor="let p of pages" [ngClass]="{'active': p === page}">
                <a (click)="goToPage(p)">{{ p + 1 }}</a>
              </li>
              <li *ngIf="page < (searchResult.totalPages - 1 )">
                <a href="#" (click)="nextPage()">»</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
