<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!track._id">
        <h2>New track</h2>
      </div>
      <div class="panel-heading" *ngIf="track._id">
        <h2>Edit track</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="track.name" type="text" placeholder="Enter name" />
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="description" [(ngModel)]="track.description" type="text" placeholder="Enter description" />
          </div>

          <span class="pull-right">
            <a class="btn btn-primary" (click)="!track._id ? create() : update()">Save</a>
            <a class="btn btn-danger" routerLink="/{urlContext}/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
