<div class="row">
  <div class="col-sm-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div *ngIf="!paper._id">
          <h2>New paper</h2>
        </div>
         <div *ngIf="paper._id">
          <h2>Edit paper</h2>
        </div>
        <span class="pull-right">
          <a class="btn btn-primary" *ngIf="paper.state != 'canceled'" (click)="cancelModal(paper)">Cancel paper</a>
          <a class="btn btn-primary" (click)="save()">Save</a>
          <a class="btn btn-danger" routerLink="/papers/list">Back</a>
        </span>
      </div>
      <div class="panel-body">
        <form role="form">
          <fieldset>
            <div class="row">
              <div class="col-xs-3 text-bold"><label>State:</label></div>
              <div class="col-xs-9">{{paper.state}}</div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Edition</label>
                  <select class="form-control" name="edition" [(ngModel)]="paper.edition">
                    <option value="{{edition}}" *ngFor="let edition of editions">{{edition}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" name="title" [(ngModel)]="paper.title" type="text" placeholder="Title" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Languages</label>
                  <input class="form-control" name="languages" [(ngModel)]="languages" type="text" placeholder="Languages" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Type</label>
                  <select class="form-control" name="type" [(ngModel)]="paper.type">
                    <option value="talk">Talk</option>
                    <option value="workshop">Workshop</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Level</label>
                  <select class="form-control" name="level" [(ngModel)]="paper.level">
                    <option value="beginner">Beginner</option>
                    <option value="middle">Middle</option>
                    <option value="advanced">Advanced</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Abstract</label>
                  <textarea class="form-control" name="abstract" [(ngModel)]="paper.abstract" rows="10"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Tags</label>
                  <input class="form-control" name="tags" [(ngModel)]="tags" type="text" placeholder="Tags" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Concrete day</label>
                  <select class="form-control" name="preferenceDay" [(ngModel)]="paper.preferenceDay">
                    <option value="" selected>No, I don't care.</option>
                    <option value="2022/07/18">Monday 18th</option>
                    <option value="2022/07/19">Tuesday 19th</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Comments</label>
                  <textarea class="form-control" name="comments" [(ngModel)]="paper.comments" rows="10"></textarea>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <h3>Senders
              <button type="button" class="btn btn-success btn-xs" (click)="addSender()">
                <em class="fa fa-plus fa-fw"></em>Add sender
              </button>
            </h3>

            <div class="row" *ngFor="let sender of paper.senders; let iSender = index">
              <div class="col-sm-10">
                <h4>Sender {{iSender}}
                  <button class="btn btn-xs btn-danger" (click)="removeSender(iSender)">
                    <em class="fa fa-trash fa-fw"></em>Remove sender
                  </button>
                </h4>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Full name</label>
                      <input class="form-control" name="fullName{{iSender}}" [(ngModel)]="sender.fullName" type="text" placeholder="Jane Smith"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>E-mail</label>
                      <input class="form-control" name="email{{iSender}}" [(ngModel)]="sender.email" type="text" placeholder="your-email@yourserver.com"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <div class="form-group">
                      <label>Picture</label>
                      <input class="form-control" name="picture{{iSender}}" [(ngModel)]="sender.picture" type="text" placeholder="http://someserver.com/path/to/picture/image.png"
                      />
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <img src="{{sender.picture}}" *ngIf="sender.picture">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Web</label>
                      <input class="form-control" name="web{{iSender}}" [(ngModel)]="sender.web" type="text" placeholder="http://someserver.com"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Twitter</label>
                      <input class="form-control" name="twitter{{iSender}}" [(ngModel)]="sender.twitter" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>LinkedIn</label>
                      <input class="form-control" name="linkedin{{iSender}}" [(ngModel)]="sender.linkedin" type="text" placeholder="http://someserver.com"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>T-shirt size</label>
                      <select class="form-control" name="tshirtSize{{iSender}}" [(ngModel)]="sender.tshirtSize">
                        <option value="S" selected>S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Food allergies</label>
                      <input class="form-control" name="allergies{{iSender}}" [(ngModel)]="sender.allergies"
                      type="text" placeholder="peanuts, celiac, etc..."
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Speaker's dinner</label>
                      <div class="col-sm-5">
                        <label class="switch switch-sm">
                          <input type="checkbox" name="speakersParty{{iSender}}" [(ngModel)]="sender.speakersParty" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Attendees party</label>
                      <div class="col-sm-5">
                        <label class="switch switch-sm">
                          <input type="checkbox" name="attendeesParty{{iSender}}" [(ngModel)]="sender.attendeesParty" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Need help with travel costs? {{sender.travelCost}}</label>
                      <div class="col-sm-5">
                        <label class="switch switch-sm">
                          <input type="checkbox" name="travelCost{{iSender}}" [(ngModel)]="sender.travelCost" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Job title</label>
                      <input class="form-control" name="jobTitle{{iSender}}" [(ngModel)]="sender.jobTitle" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Company</label>
                      <input class="form-control" name="company{{iSender}}" [(ngModel)]="sender.company" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Biography</label>
                      <textarea class="form-control" name="biography{{iSender}}" [(ngModel)]="sender.biography" rows="10"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <span class="pull-right">
            <a class="btn btn-primary" *ngIf="paper.state != 'canceled'" (click)="cancelModal(paper)">Cancel paper</a>
            <a class="btn btn-primary" (click)="save()">Save</a>
            <a class="btn btn-danger" routerLink="/papers/list">Back</a>
          </span>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
