<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!item._id">
        <h2>New Vote</h2>
      </div>
      <div class="panel-heading" *ngIf="item._id">
        <h2>Edit Vote</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div>
            <label>Id:</label>
            <strong>{{item._id}}</strong>
          </div>
          <div>
            <label>Created on:</label>
            <strong>{{item.createdDate | date:'yyyy/MM/dd HH:mm'}}</strong>
          </div>
          <div>
            <label>Updated on:</label>
            <strong>{{item.lastUpdate | date:'yyyy/MM/dd HH:mm'}}</strong>
          </div>

          <div>
            <h3>Attendee information</h3>

            <div class="form-group">
              <label>Name</label>
              <input class="form-control" name="name" [(ngModel)]="item.attendee.name" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" name="email" [(ngModel)]="item.attendee.email" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Language</label>
              <input class="form-control" name="language" [(ngModel)]="item.attendee.language" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Age</label>
              <input class="form-control" name="age" [(ngModel)]="item.attendee.age" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Gender</label>
              <input class="form-control" name="gender" [(ngModel)]="item.attendee.gender" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Company</label>
              <input class="form-control" name="company" [(ngModel)]="item.attendee.company" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Job Title</label>
              <input class="form-control" name="jobTitle" [(ngModel)]="item.attendee.jobTitle" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>City</label>
              <input class="form-control" name="city" [(ngModel)]="item.attendee.city" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Country</label>
              <input class="form-control" name="country" [(ngModel)]="item.attendee.country" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Programming languages</label>
              <input class="form-control" name="progLang" [(ngModel)]="item.attendee.programmingLanguages" type="text" placeholder="" [disabled]="true" />
            </div>
          </div>


          <div>
            <h3>Sponsor information</h3>

            <div class="form-group">
              <label>Id</label>
              <input class="form-control" name="sponsor_id" [(ngModel)]="item.sponsor.id" type="text" placeholder="" [disabled]="true" />
            </div>
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" name="sponsor_name" [(ngModel)]="item.sponsor.name" type="text" placeholder="" [disabled]="true" />
            </div>
          </div>

          <div>
            <h3>Other information</h3>

            <div class="form-group">
              <label>Details</label>
              <input class="form-control" name="details" [(ngModel)]="item.details" type="text" placeholder="" [disabled]="true" />
            </div>
          </div>

          <span class="pull-right">
            <!-- <a class="btn btn-primary" (click)="!item._id ? create() : update()">Save</a> -->
            <a class="btn btn-danger" routerLink="/{{urlContext}}/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
