<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div style="font-size:18px">
            Site data:
            <a href="{{publicApiUrl}}/speakers?format={{format}}" target="_blank">speakers</a>
            | <a href="{{publicApiUrl}}/talks?format={{format}}" target="_blank">talks</a>
          </div>
          <div>
            <input type="checkbox" id="title" name="title" [(ngModel)]="formatAsHtml" (change)="toggleFormat()"> Abstract as html
          </div>
        </div>
        <h2>Talks</h2>
      </div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <input class="form-control" [(ngModel)]="term" id="paper-search-term" type="text" name="term" placeholder="Search" />
                </div>
                <div class="form-group">
                  <label>State</label>
                  <select class="form-control" [(ngModel)]="state" id="paper-search-status" name="state" (change)="search()">
                    <option value="">Any</option>
                    <option value="unconfirmed">Unconfirmed</option>
                    <option value="confirmed">Confirmed</option>
                    <option value="scheduled">Scheduled</option>
                    <option value="canceled">Canceled</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Company</label>
                  <select class="form-control" [(ngModel)]="company" name="company" (change)="search()">
                    <optgroup>
                      <option value="">Any</option>
                      <option value="(not_set)">No company set</option>
                    </optgroup>
                    <optgroup label="companies">
                      <option *ngFor="let c of companies;" value="{{c.name}}">{{c.name}}</option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label>Published?</label>
                  <input type="radio" id="pub_ys" [(ngModel)]="published" name="published" value="yes" (change)="search()">
                  <label for="pub_ys">Yes</label>
                  <input type="radio" id="pub_no" [(ngModel)]="published" name="published" value="no" (change)="search()">
                  <label for="pub_no">No</label>
                  <input type="radio" id="pub_all" [(ngModel)]="published" name="published" value="all" (change)="search()">
                  <label for="pub_all">Ignore</label>
                </div>
                <div>
                  <div class="form-group">
                    <label class="control-label">Exclude canceled</label>
                    <label class="switch switch-sm">
                      <input type="checkbox" name="excludeCanceled" [(ngModel)]="excludeCanceled" (change)="search()"/>
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" (click)="search()">Search</a>
                <a class="btn btn-success" (click)="saveAsCSV()">CSV <em class="icon-doc"></em></a>
              </div>
          </div>
        </div>
        </form>
        <div class="row">
          <div class="col-xs-12">Showing {{page * size}} to {{ (page * size) + searchResult.items.length }} of {{ searchResult.total }} talks</div>
        </div>
        <div class="table-responsive">
          <div class="col-lg-12 text-right" *ngIf="searchResult.total > size">
            <ul class="pagination pagination-sm">
              <li *ngIf="page>0">
                <a href="#" (click)="previousPage()">«</a>
              </li>
              <li *ngFor="let p of pages" [ngClass]="{'active': p === page}">
                <a href="#">{{ p + 1 }}</a>
              </li>
              <li *ngIf="page < (searchResult.totalPages - 1 )">
                <a href="#" (click)="nextPage()">»</a>
              </li>
            </ul>
          </div>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th (click)="setSort('createdDate')">
                  Created on
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'createdDate' && !sortAsc, 'fa-chevron-down':sortColumn === 'createdDate' && sortAsc} "></i>
                </th>
                <th (click)="setSort('title')">
                  Title
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'title' && !sortAsc, 'fa-chevron-down':sortColumn === 'title' && sortAsc} "></i>
                </th>
                <th (click)="setSort('type')">
                  Type
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'type' && !sortAsc, 'fa-chevron-down':sortColumn === 'type' && sortAsc} "></i>
                </th>
                <th>
                  Speaker(s)
                </th>
                <th>
                  Paid speaker
                </th>
                <th (click)="setSort('state')">
                  State
                  <i [ngClass]="{'pull-right':true, 'fa': true, 'fa-chevron-up':sortColumn === 'state' && !sortAsc, 'fa-chevron-down':sortColumn === 'state' && sortAsc} "></i>
                </th>
                <th (click)="setSort('published')">Published</th>
                <th (click)="setSort('preferenceDay')">Preference day</th>
                <th (click)="setSort('responsiblePerson')">Contact person</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="searchResult">
              <tr *ngFor="let item of searchResult.items; let index = index">
                <td>{{ item.createdDate | date:'yyyy/MM/dd HH:mm'}}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.type }}</td>
                <td>{{ formatSpeakersNames(item) }}</td>
                <td>{{ item.speakers[0].travelCost }}</td>
                <td [ngClass]="{'danger':(item.state == 'canceled')}">{{ item.state }}</td>
                <td>{{ item.published }}</td>
                <td>{{ item.preferenceDay || 'No' }}</td>
                <td>{{ item.responsiblePerson }}</td>
                <td>
                  <!-- <a class="btn btn-success" routerLink="/papers/detail/{{item._id}}">
                    <em class="icon-eye"></em>
                  </a> -->
                  <div class="btn-group" dropdown>
                    <a class="btn btn-success" routerLink="/talks/detail/{{item._id}}">
                      <em class="icon-eye"></em>
                    </a>
                    <button class="btn btn-default" dropdownToggle>Actions
                      <b class="caret"></b>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li>
                        <a href="#" routerLink="/talks/form/{{item._id}}">
                          <em class="icon-pencil"></em> Update</a>
                        <li *ngIf="item.state !== 'unconfirmed'">
                          <a href="#" (click)="updateState(item,'unconfirmed')">Mark as unconfirmed</a>
                        </li>
                        <li *ngIf="item.state !== 'confirmed'">
                          <a href="#" (click)="updateState(item,'confirmed')">Mark as confirmed</a>
                        </li>
                        <li *ngIf="item.state !== 'scheduled'">
                          <a href="#" (click)="updateState(item,'scheduled')">Mark as scheduled</a>
                        </li>
                        <li *ngIf="item.state !== 'canceled'">
                          <a href="#" (click)="updateState(item,'canceled')">Mark as canceled</a>
                        </li>
                        <li *ngIf="!item.published && (item.state=='confirmed' || item.state=='scheduled')">
                          <a href="#" (click)="updatePublished(item, true)">Publish</a>
                        </li>
                        <li *ngIf="item.published">
                          <a href="#" (click)="updatePublished(item, false)">Unpublish</a>
                        </li>
                        <li>
                          <a href="#" (click)="updateResponsiblePersonModal(item)">Update with responsible person</a>
                        </li>
                        <!-- <li><a href="#" routerLink="/papers/form/{{item._id}}"><em class="icon-pencil"></em> Edit</a></li> -->
                        <li>
                          <a href="#" (click)="deleteModal(item)">
                            <em class="icon-close"></em> Delete</a>
                        </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-lg-2 text-right" *ngIf="searchResult.total > size">
            <ul class="pagination pagination-sm">
              <li *ngIf="page>0">
                <a href="#" (click)="previousPage()">«</a>
              </li>
              <li *ngFor="let p of pages" [ngClass]="{'active': p === page}">
                <a href="#">{{ p + 1 }}</a>
              </li>
              <li *ngIf="page < (searchResult.totalPages - 1 )">
                <a href="#" (click)="nextPage()">»</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
