<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!room._id">
        <h2>New room</h2>
      </div>
      <div class="panel-heading" *ngIf="room._id">
        <h2>Edit room</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="room.name" type="text" placeholder="Enter name" />
          </div>
          <div class="form-group">
            <label>Capacity</label>
            <input class="form-control" name="capacity" [(ngModel)]="room.capacity" type="number" min="0" placeholder="Enter room capacity" />
          </div>

          <span class="pull-right">
            <a class="btn btn-primary" (click)="!room._id ? create() : update()">Save</a>
            <a class="btn btn-danger" routerLink="/rooms/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
