<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Sessions
                    <a class="btn btn-success pull-right" routerLink="/sessions/form"><em class="icon-plus"></em></a>
                </h2>
            </div>
        
            <div class="panel-body">
                <!-- Search no available in API yet
                <form class="form-inline" role="form">
                    <a class="btn btn-primary" (click)="search()">Search</a>
                </form>
                -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Day</th>
                                <th>Start time</th>
                                <th>End time</th>
                                <th>Track</th>
                                <th>Room</th>
                                <th>Talk</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="searchResult">
                            <tr *ngFor="let session of searchResult.items; let index = index">
                                <td>{{index+1}}</td>
                                <td>{{session.day}}</td>
                                <td>{{session.startTime}}</td>
                                <td>{{session.endTime}}</td>
                                <td>{{session.track?.name}}</td>
                                <td>{{session.room?.name}}</td>
                                <td>
                                <!--
                                  This crashes
                                   [(ngModel)]="instance.talk._id"
                                -->
                                    <div class="form-group">
                                      <select class="form-control" (change)="updateSession($event.target.value, session._id)">
                                        <option value="">(not set)</option>
                                        <option *ngFor="let t of talks;" value="{{t._id}}">{{t.title}} ({{t.type.toUpperCase()}})</option>
                                      </select>
                                    </div>
                                    <div>
                                      <div>List of assigned talks<a (click)="clearTalks(session._id)"><em>(clear talks)</em></a></div>
                                      <div *ngFor="let t of session.talks; let index = index">
                                        <a routerLink="/talks/detail/{{t._id}}">({{index+1}}) {{t.title}}</a>
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary" routerLink="/sessions/form/{{session._id}}"><em class="icon-pencil"></em></a>
                                    <a class="btn btn-danger" (click)="deleteModal(session)"><em class="icon-trash"></em></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
