<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Jobs JSON</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Web JSON</label>
            <textarea class="form-control" name="abstract" [(ngModel)]="data" rows="{{lines}}"
                      placeholder="Enter description"></textarea>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
