<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Job Offers
          <a class="btn btn-primary pull-right" routerLink="/job-offers/json"><em class="icon-file"></em>Web JSON</a>
          <a class="btn btn-success pull-right" routerLink="/job-offers/form"><em class="icon-plus"></em></a>
        </h2>
      </div>
      <div class="panel-body">
        <!-- Search no available in API yet
        <form class="form-inline" role="form">
            <a class="btn btn-primary" (click)="search()">Search</a>
        </form>
        -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Sponsor</th>
              <th>Title</th>
              <th>Last update</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngIf="searchResult">
            <tr *ngFor="let item of searchResult.items; let index = index">
              <td>{{index + 1}}</td>
              <td>{{sponsors.get(item.sponsorId)['name']}}</td>
              <td>{{item.title}}</td>
              <td>{{item.lastUpdate | date:'yyyy/MM/dd HH:mm'}}</td>
              <td>
                <a class="btn btn-primary" routerLink="/job-offers/form/{{item._id}}"><em class="icon-pencil"></em></a>
                <a class="btn btn-danger" (click)="deleteModal(item)"><em class="icon-trash"></em></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
