<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!redirect._id">
        <h2>New Redirect</h2>
      </div>
      <div class="panel-heading" *ngIf="redirect._id">
        <h2>Edit Redirect</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Url</label>
            <input class="form-control" name="description" [(ngModel)]="redirect.url" type="text"
                   placeholder="Enter url"/>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="redirect.name" type="text"
                   placeholder="Enter name"/>
          </div>

          <span class="pull-right">
            <a class="btn btn-primary" (click)="!redirect._id ? create() : update()">Save</a>
            <a class="btn btn-danger" routerLink="/url-redirects/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
