<div class="row">
  <div class="col-lg-10">
    <div class="panel widget">
      <div class="half-float">
        <img alt="" class="img-responsive" src="assets/img/bg3.jpg">
        <div class="half-float-bottom">
          <img alt="Image" class="img-thumbnail img-circle thumb128" src="assets/img/user/09.jpg">
        </div>
      </div>
      <div class="panel-body text-center">
        <h3 class="m0">{{user.username}}</h3>
        <p class="text-muted">{{user.email}}</p>
        <div>Created
          <p class="text-muted">{{user.createdDate | date:'yyyy/MM/dd HH:mm'}}</p>
        </div>
        <div>Roles
          <p class="text-muted">{{user.roles}}</p>
        </div>
        <p><a class="btn btn-primary" routerLink="/users/list"><em class="fa fa-arrow-circle-left"></em></a></p>
      </div>
    </div>
  </div>
</div>