<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!item._id">
        <h2>New Vote</h2>
      </div>
      <div class="panel-heading" *ngIf="item._id">
        <h2>Edit Vote</h2>
      </div>
      <div class="panel-body">
        <form role="form">
          <div>
            <label>Id:</label>
            <strong>{{item._id}}</strong>
          </div>
          <div>
            <label>Created on:</label>
            <strong>{{item.createdDate | date:'yyyy/MM/dd HH:mm'}}</strong>
          </div>
          <div>
            <label>Updated on:</label>
            <strong>{{item.lastUpdate | date:'yyyy/MM/dd HH:mm'}}</strong>
          </div>
          <div class="form-group">
            <label>Talk</label>
            <input class="form-control" name="talkId" [(ngModel)]="item.talkId" type="text" placeholder="Enter talk" [disabled]="true" />
          </div>
          <div class="form-group">
            <label>User email</label>
            <input class="form-control" name="userEmail" [(ngModel)]="item.userEmail" type="text" placeholder="Enter user email" [disabled]="true" />
          </div>
          <div class="form-group">
            <label>Value</label>
            <select class="form-control" name="value" [(ngModel)]="item.value" [disabled]="true">
              <option [ngValue]="1">1</option>
              <option [ngValue]="2">2</option>
              <option [ngValue]="3">3</option>
              <option [ngValue]="4">4</option>
              <option [ngValue]="5">5</option>
            </select>
          </div>
          <div class="form-group">
            <label>Delivery (emoji)</label>
            <input class="form-control" name="delivery" [(ngModel)]="item.delivery" type="text" placeholder="Enter delivery" [disabled]="true" />
          </div>
          <div class="form-group">
            <label>Other (feedback text)</label>
            <input class="form-control" name="other" [(ngModel)]="item.other" type="text" placeholder="Enter additional feedback" [disabled]="true" />
          </div>

          <span class="pull-right">
            <!-- <a class="btn btn-primary" (click)="!item._id ? create() : update()">Save</a> -->
            <a class="btn btn-danger" routerLink="/{{urlContext}}/list">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
