<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Rooms<a class="btn btn-success pull-right" routerLink="/rooms/form"><em class="icon-plus"></em></a></h2>
            </div>
            <div class="panel-body">
                <!-- Search no available in API yet
                <form class="form-inline" role="form">
                    <a class="btn btn-primary" (click)="search()">Search</a>
                </form>
                -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Capacity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="searchResult">
                            <tr *ngFor="let room of searchResult.items; let index = index">
                                <td>{{index+1}}</td>
                                <td>{{room.name}}</td>
                                <td>{{room.capacity}}</td>
                                <td>
                                    <a class="btn btn-primary" routerLink="/rooms/form/{{room._id}}"><em class="icon-pencil"></em></a>
                                    <a class="btn btn-danger" (click)="deleteModal(room)"><em class="icon-trash"></em></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
